body {
    background-image:url("../images/bkg-new.png");
    margin-top: 0px;
    margin-left: 0px;
}
.title{
    color: rgb(194, 20, 20);
    float: left;
}
#rey{
    height: 80px;
    width: 55px;
    background-color: white;
    background-size: 150%;

}
#luke{
    height: 80px;
    width: 55px; 
    background-color: white;
    background-size: 150%;
}
#kylo{
    height: 80px;
    width: 60px;
    background-color: white;
    background-size: 150%;
}
#guard{
    height: 80px;
    width: 90px;
    background-color: white;
    background-size: 150%;
}